.skillsBlock{
    background-color: gray;
    padding-bottom: 30px;
}
.skillsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 35px;
    width: 100%;
}

