
.aboutWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  height: calc(100vh - 100px);

  .aboutPhoto {
    width: 45%;
    border-radius: 10px;

    img {
      width: 100%;
      border-radius: 20px;
      box-shadow: 0 0 15px var(--coloringWhite);
    }
  }

  .aboutDescription {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45%;
    .title {
      display: flex;
      flex-direction: column;
      justify-content: start;
      border-bottom: 1px dashed var(--colorAppText);
      padding-bottom: 20px;
      margin-bottom: 20px;
      .name{
        margin-top: 0;
        text-transform: uppercase;
        margin-bottom: 15px;
        font-size: 40px;
        font-weight: 700;
        .coloring {
          color: var(--colorBtn);
        }
      }
      .prof {
        font-size: 18px;
        font-weight: 400;
        color: var(--colorAppText);
      }
    }
    .aboutMe{
      width: 100%;
      color: #a2a2a2;
      margin-bottom: 36px;
      font-weight: 600;
      line-height: 1.7
    }
  }
}