.mainContainer {
    background-color: #c0c0c0;
    height: 100vh;
}

.mainWrapp {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

.mainPhoto {
    width: 300px;
    height: 400px;
    background-color: #5e5e5e;
}