.name {
  font-size: 72px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;

  .coloringName {
    color: #fe0000;
  }
}

.job {
  font-size: 25px;
  font-weight: 500;
  color: white;
  margin-bottom: 40px;

  .coloringJob {
    color: #a2a2a2;
  }
}