body {
    margin: 0 auto;
    padding: 0;
    max-width: 1600px;
    background-color: black;
    color: white;

}
.mainContent {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 900px;
    min-height: calc(100vh - 100px);
    margin: 0 auto;
}