.navBlock{
    display: flex;
    justify-content: space-between;
    padding: 0;
    gap: 20px;
}
.navBlock li {
    list-style-type: none;
}
.navBlock li a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    transition: 0.5s;
}
.navBlock li a:hover{
    color: black;
    text-decoration: underline;
}