.workWrapper {
    background-color: gray;
    width: 300px;

}
.workIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5e5e5e;
    width: 100%;
    height: 300px;
}
.workIcon a {
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: #383838;
    transition: 0.5s;
}
.workIcon a:hover {
    background-color: silver;
}
.workDescrWrapp {
    padding: 10px;
    background-color: grey;
}
